name: Verify pull request

on:
  pull_request:
    branches:
      - main
jobs:
  install-dependencies-run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"

      - name: Install dependencies
        run: npm ci
        working-directory: ./src

      - name: Run tests
        run: npm test || exit 1
        working-directory: ./src

      - name: Comment on Pull Request
        if: ${{ success() }}
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const time = new Date().toLocaleString();
             await github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `${time}\nOs testes foram todos executados com sucesso. Aguarde a análise do PR`
            })

      - name: Close Pull Request on Test Failure
        if: ${{ failure() }}
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            await github.rest.issues.createComment({
              issue_number: context.payload.pull_request.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `${new Date().toLocaleString()}\nOs testes falharam. Este pull request será fechado automaticamente.`
            });
            await github.rest.pulls.update({
              pull_number: context.payload.pull_request.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: 'closed'
            });
